.custom-fluid-container{
  height: 80%;
  width: 80%;
  object-fit: contain;
}

.custom-height{
  display: flex;
  align-items: center;
  height: 120px;
}

.shape-group-container{
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 100%;
}
.shape{
  width: 40%;
}

.icon-group-width{
  align-items: center;
  width: 100%;
  height: auto;
  margin: auto;
}

.numbered-shape{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: -1;
  width: 90%;
  height: 100%;
}

.numbered-shape img{
  width: 30%;
  height: 50%;
}

.numbered-steps-container{
  height: 286px;
}

.numbered-steps-text-container h1{
  color: #CDCDCD;
}

.numbered-steps-text-container{
  width: 70%;
  margin: auto;
}
