.custom-fluid-container{
  height: 80%;
  width: 80%;
  object-fit: contain;
}

.custom-height{
  display: flex;
  align-items: center;
  height: 120px;
}

.shape-group-container{
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
  padding: 0 15px 0 15px;
}


.icon-group-width{
  align-items: center;
  width: 80%;
  height: auto;
  margin: auto;
}
